/* ============================================= */
/*        Main Weather Info Section Layout       */
/* ============================================= */

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .city {
        margin-bottom: 10px;
    }
    .conditions {
        margin-bottom: 0;
    }
    .temp {
        font-size: 1.5em;
        margin-top: 0;
    }
}