/* ============================================= */
/*        Main Weather Info Section Layout       */
/* ============================================= */

.main-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .city {
        margin-top: 0;
        margin-bottom: 10px;
        color: #fff;
        font-size: 1.8em;
    }
    .conditions {
        margin-bottom: 0;
        color: #fff;
    }
    .temp {
        font-size: 1.5em;
        margin-top: 0;
        color: #fff;
    }
    // img {
    //     width: 40%;
    // }
}