/* ============================================= */
/*        Secondary Weather Info Section         */
/* ============================================= */

.secondary-info {
    background: linear-gradient(#005C97, #363796);
    min-width: 100%;
    flex-grow: 1;
}
